.cbp-spmenu {
    position: fixed;
    width: 240px;
    /* Firefox */
    height: -moz-calc(100% - 50px);
    /* WebKit */
    height: -webkit-calc(100% - 50px);
    /* Opera */
    height: -o-calc(100% - 50px);
    /* Standard */
    height: calc(100% - 50px);
    z-index: 1000;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

 .cbp-spmenu-push-toleft {
    left: -240px;
    padding-left:240px;
}

.cbp-spmenu-push-toright {
    left: 240px;
    padding-right:240px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.flapRight {
  font-size: 18px;
  color: white;
  top: 0;
  padding: 10px 0 10px 10px;
  background: #000;
  width: 40px;
  position: absolute;
  left: -40px;
  -moz-border-radius: 8px 0 8px 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0;
  -moz-box-shadow: -2px 0 5px #999;
  -webkit-box-shadow: -2px 0 5px #999;
  box-shadow: -2px 0 5px #999;
}


div.chatfooter{
   position:fixed;
   bottom:0px;
   height:40px;
   width: 230px;
   display: block;
   margin-left: 5px;
   margin-right: 5px;
}

div.emptyspace{
   height:40px;
}

.flapLeft {
  font-size:18px;
  color:#FFF;
  top:0;
  margin-right:-40px;
  background:#000;
  width:40px;
  position:absolute;
  right:0;
  -moz-border-radius:0 8px;
  -webkit-border-top-left-radius:0;
  -webkit-border-top-right-radius:8px;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-bottom-right-radius:8px;
  border-top-left-radius:0;
  border-top-right-radius:8px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:8px;
  -moz-box-shadow:2px 0 5px #999;
  -webkit-box-shadow:2px 0 5px #999;
  box-shadow:2px 0 5px #999;
  padding:10px 0 10px 10px;
}

